@font-face{
    font-family: "Steven_DE";
    src:  url('https://rdspt.com/fonts/Steven_DE.ttf') format('truetype'),
          url('https://rdspt.com/fonts/Steven_DE.woff2') format('woff2'), 
          url('https://rdspt.com/fonts/Steven_DE.woff') format('woff');
    }
    
@font-face{
    font-family: "VT323";
    src:  url('https://rdspt.com/fonts/VT323-Regular.ttf') format('truetype');
    }
        
@font-face{
    font-family: "BauhausMedium";
    src:  url('https://rdspt.com/fonts/BauhausStd-Medium.ttf') format('truetype');
    }
            
@font-face{
        font-family: "P22AlbersThree";
        src:  url('https://rdspt.com/fonts/P22AlbersThree/P22AlbersThree.ttf') format('truetype');
        }

@font-face{
            font-family: "BigSquareDots";
            src:  url('https://rdspt.com/fonts/changing/BigSquareDots.ttf') format('truetype');
            }
    
            
@font-face{
            font-family: "Tschich";
            src:  url('https://rdspt.com/fonts/changing/Tschich.ttf') format('truetype');
            }
@font-face{
                font-family: "ChildWrittenBold";
                src:  url('https://rdspt.com/fonts/changing/ChildWritten-Bold.ttf') format('truetype');
                }
 
                