@font-face{
    font-family: "Steven_DE";
    src:  url('https://rdspt.com/fonts/Steven_DE.ttf') format('truetype'),
          url('https://rdspt.com/fonts/Steven_DE.woff2') format('woff2'), 
          url('https://rdspt.com/fonts/Steven_DE.woff') format('woff');
    }
    
@font-face{
    font-family: "VT323";
    src:  url('https://rdspt.com/fonts/VT323-Regular.ttf') format('truetype');
    }
        
@font-face{
    font-family: "BauhausMedium";
    src:  url('https://rdspt.com/fonts/BauhausStd-Medium.ttf') format('truetype');
    }
            
@font-face{
        font-family: "P22AlbersThree";
        src:  url('https://rdspt.com/fonts/P22AlbersThree/P22AlbersThree.ttf') format('truetype');
        }

@font-face{
            font-family: "BigSquareDots";
            src:  url('https://rdspt.com/fonts/changing/BigSquareDots.ttf') format('truetype');
            }
    
            
@font-face{
            font-family: "Tschich";
            src:  url('https://rdspt.com/fonts/changing/Tschich.ttf') format('truetype');
            }
@font-face{
            font-family: "ChildWrittenBold";
            src:  url('https://rdspt.com/fonts/changing/ChildWritten-Bold.ttf') format('truetype');
            }
 
@font-face{
            font-family: "Katrina";
            src:  url('https://rdspt.com/fonts/changing/Katrina.ttf') format('truetype');
            }
                     
@font-face{
            font-family: "Cassandra";
            src:  url('https://rdspt.com/fonts/changing/CassandraTwo.ttf') format('truetype');
            }
@font-face{
            font-family: "Multistrokes";
            src:  url('https://rdspt.com/fonts/changing/Multistrokes.ttf') format('truetype');
            }

@font-face{
            font-family: "BauhausStd-Medium";
            src:  url('https://rdspt.com/fonts/changing/BauhausStd-Medium.ttf') format('truetype');
            }

@font-face{
            font-family: "PixelSplitter-Bold";
            src:  url('https://rdspt.com/fonts/changing/PixelSplitter-Bold.ttf') format('truetype');
            }

@font-face{
            font-family: "routed-gothic";
            src:  url('https://rdspt.com/fonts/changing/routed-gothic.ttf') format('truetype');
            }
@font-face{
            font-family: "Hack-Regular";
            src:  url('https://rdspt.com/fonts/changing/Hack-Regular.ttf') format('truetype');
            }
@font-face{
            font-family: "Soloviev";
            src:  url('https://rdspt.com/fonts/changing/Soloviev.otf') format("opentype");
            }